body {
    font-family: cursive;
    background-color: rgb(147, 224, 226);
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
    width: 350px;
}

header {
    background-color: cadetblue;
    height: 150px;
    border: black solid 2px;
}

#sort {
    width: 100px;
}

#filter {
    width: 120px;
}

h2 {
    font-size: x-large;
    font-weight: bolder;
}

p {
    font-size: larger;
}

footer {
    font-size: larger;
    font-weight: bolder;
}