section {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

p {
    align-self: center;
    text-align: justify;
}

h2 {
    align-self: center;
    text-align: center;
}

img {
    align-self: center;
}

footer {
    display: flex;
    text-align: center;
}

h1 {
    align-self: center;
}

nav {
    align-self: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#sort {
    align-self: center;
}

#filter {
    align-self: center;
}