      section {
          width: 350px;
          height: 400px;
          border: black solid 2px;
          background-color: cadetblue;
      }
      
      .photo-container,
      .photo-container2 {
          display: none;
      }
      
      img {
          width: 200px;
          height: 250px;
          /* float: left; */
      }
      
      p {
          width: 250px;
      }
      
      h2 {
          width: 200px;
      }
      
      footer {
          background-color: cadetblue;
          margin-top: 100px;
          padding: 25px;
      }